PORT=3000
SITE_URL=https://shrondajeanineco.com

HF_API_KEY=

EMAIL_USER=shrondajeanine@shrondajeanineco.com
EMAIL_APP_PASS=
EMAIL_HOST=smtp.ionos.com
EMAIL_PORT=587
EMAIL_SECURE=false

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_INTENTIONAL_SOUL=
STRIPE_PRICE_PARTNERS_WITH_PURPOSE=
STRIPE_PRICE_ARCHITECT_OF_ABUNDANCE=

DISCORD_WEBHOOK_URL=
